img {
  width: 100%;
}

.list-user {
   margin-top: 20px;
 }

.list-user .item {
  background: #f5f5f5;
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 5px;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  max-width: 32%;
}

.item .btn {
  margin: 0 5px;
}